<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>teat</title>
  <script src="../../dist/vue.js"></script>
</head>
<body>
<div id="example-1">
  <h1>数组</h1>
  <ul>
    <li v-for="(item, index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>
  <h1>对象</h1>
  <div v-for="(value, name, index) in object">
    {{ index }}. {{ name }}: {{ value }}
  </div>
  <button v-on:click="onClick">Add 1</button>
</div>

<script>
/*

  (function anonymous() {
    with(this){return _c('div',{attrs:{"id":"example-1"}},[
      _c('h1',[_v("数组")]),
      _v(" "),
      _c('ul',_l((items),function(item,index){return _c('li',[_v("\n      "+_s(parentMessage)+" - "+_s(index)+" - "+_s(item.message)+"\n    ")])})),
      _v(" "),
      _c('h1',[_v("对象")]),
      _v(" "),
      _l((object), function(value,name,index){return _c('div',[_v("\n    "+_s(index)+". "+_s(name)+": "+_s(value)+"\n  ")])}),
      _v(" "),
      _c('button',{on:{"click":onClick}},[_v("Add 1")])
    ],2)}
  })

 */
</script>

<script>


  var example1 = new Vue({
    el: '#example-1',
    data: {
      parentMessage: 'Parent',
      items: [
        {message: 'Foo'},
        {message: 'Bar'}
      ],
      object: {
        title: 'How to do lists in Vue',
        author: 'Jane Doe',
        publishedAt: '2016-04-10'
      }
    },
    methods: {
      onClick: function () {
        console.log('onclick')
       this.items.push({message:'Face'})
      }
    }
  })


</script>
</body>
</html>
