{
  "root": true,
  "plugins": [
    "flowtype"
  ],
  "extends": [
    "plugin:vue-libs/recommended",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "semi": ["error", "never"]
  },
  "globals": {
    "__WEEX__": true,
    "WXEnvironment": true
  }
}
